@font-face {
    font-family: Ubuntu;
    src: url(fonts/Ubuntu/Ubuntu-Regular.ttf);
  }

@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto/Roboto-Regular.ttf);
  }

@font-face {
    font-family: Lato;
    src: url(fonts/Lato/Lato-Regular.ttf);
}
body{
    background-color: #e6ecef;
}

#main{
    
}

#sub-main{
    background-color: #5cb0d2;
    width: 100%;
    height: 120px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#sub-main h1{
    vertical-align: middle;
}

#title-bar{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
}

#main-logo{
    height: 60px;
}

#title{
    font-size: 35pt;
}

#nav-bar{
    position: relative;
    width: 900px;
    bottom: -30px;
    font-size: 14pt;
    font-weight: 500;
    font-family: Lato, Roboto, Ubuntu, "Times New Roman", Times, serif;
}

#nav-item ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#075573;
}
  
#nav-item li {
    float: left;
    border-right: 1px solid #5cb1d279;
}
  
#nav-item li a {
    display: block;
    color: white;
    text-align: center;
    padding: 9px 11px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
#nav-item  li a:hover {
    background-color: #d1661a;
}

#content-bar{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

#content{
    width: 900px;
    display: flex;
    justify-content: space-between;
}


#side-bar{
    border: 2px solid rgb(160, 51, 145);
    width: 320px;
    height: 480px;
}

#description{
    border: 2px solid rgb(160, 51, 145);
    width: 570px;
    height: 480px;
}



#footer-bar{
    margin-top: 10px;
   
}

#credit{
    background-color: #075573;
    width: 100%;
    height: 20px;
    font-size: 10pt;
    font-family: Ubuntu;
    color: white;
    text-align: center;
    left: 0;
    bottom: 0;
    justify-self: center;
}